
$primary: #FFC300; 
$secondary: #003566;
$dark: #000814;

html {
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #ffc300 50%, #003566 100%);
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
}

.navbar-brand {
  color: #000814 !important;
}

.navbar-dark, .navbar-nav, .nav-link  {
  color: #003566 !important;
}

@import '~bootstrap/scss/bootstrap';

.jumbotron.fixed-bottom {
  position: relative;
  margin-bottom: 0 !important;
  // background-color:rgba(0, 8, 20, 0.9) ;
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #ffc300 50%, #003566 100%);
}

.jumbotron {
  text-align: center;
  background: transparent;
}

.footer-group {
  font-family: 'Roboto', sans-serif;
  color: #000000;
}

.gitRepo {
  color: #ffffff;
  font-weight: bolder;
  text-shadow: 2px 2px 2px #000000;
}